* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    line-height: 1.6;
    background-color: yellow;
}

header {
    background-color: hsl(63, 56%, 66%);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.0rem;
    color: hsl(40, 90%, 56%);
    text-align: center;

}

main {
    margin-top: 1.5rem;
    max-width: 100rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}



.contenedor-colores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 0rem;
    background-color: blueviolet;
    width: 60%;
    justify-items: center;


}

#tarjeta {
    background-color: hsl(0, 23%, 64%);
    border-radius: 10px;
    box-shadow: 0 0 10px;
    overflow: hidden;
    transition: 1s;
    width: 50%;
    height: 200px;

}

.contenedor-botones {
    margin-top: 10px;
}