/* ===============================================================================
Reset y configuración base
================================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    line-height: 1.6;
    /* background-color: rgb(226, 226, 216);
 */
}

/* ===============================================================================
Variables y utilidades
================================================================================== */

/* ===============================================================================
Tipografía
================================================================================== */

/* ===============================================================================
layout
================================================================================== */


header {
    background-color: #F0F8FF;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.0rem;
    color: hsl(226, 50%, 39%);
    text-align: center;

}

main {
    margin-top: 1.5rem;
    max-width: 100rem;
    padding: 1rem 5rem;
    display: flex;
    justify-content: center;
    background-color: #F0F8FF;

}

.contenedor-colores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 60%;
    height: 70%;
    justify-items: center;
    place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;


}

#tarjeta {
    /* background-color: hsl(0, 23%, 64%); */
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* ===============================================================================
Componentes
================================================================================== */

.card1 {
    background-color: #B0C4DE;
}

.card2 {
    background-color: #ADD8E6;
}

.card3 {
    background-color: #DCDCDC;
}

.card4 {
    background-color: #BDB76B;
}

.card5 {
    background-color: #FFFACD;
}

.card6 {
    background-color: #8FBC8F;
}

.card7 {
    background-color: #A2AD91;
}

.card8 {
    background-color: #E9DCC9;
}

.card9 {
    background-color: #2D4C3E;
}

.contenedor-botones {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 1rem
}

/* ===============================================================================
Media querys
================================================================================== */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    grid {
        grid-template-columns: 1fr;
    }
}