* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: hsl(63, 56%, 66%);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.0rem;
    color: hsl(40, 90%, 56%);
    text-align: center;

}

.contenedor-colores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem
}

#tarjeta {
    background-color: hsl(0, 23%, 64%);
    text-align: center;
}